.search-block-event.searchBlock-facets {
  .headline {
    width: 100%;
  }
  display: grid;
  gap: 20px;
  grid-auto-rows: auto;

  .first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    @container (max-width: "768px") {
      flex-direction: column;
      align-items: stretch;
      gap: 20px;
    }

    .react-aria-DateRangePicker {
      height: 64px;
      .react-aria-Group {
        height: 100%;
        padding-right: 18px;
        padding-left: 16px;
        border-color: #000;
        border-radius: unset;
        outline-color: #000;

        @container (max-width: "768px") {
          width: 100%;
        }
      }
      .react-aria-DateInput[slot='start'] {
        min-width: 117px;
        margin-right: 15px;
        outline-color: #000;
        span {
          color: #000;
          &:focus {
            background: #fff;
          }
        }
      }
      .react-aria-DateInput[slot='end'] {
        min-width: 117px;
        margin-right: 5px;
        margin-left: 15px;
        outline-color: #000;
        span {
          color: #000;
          &:focus {
            background: #fff;
          }
        }
      }

      .react-aria-Button {
        background: var(--button-background);
        box-shadow: unset;
        color: var(--text-color);
        cursor: pointer;

        .icon {
          position: relative;
          left: -2px;
          min-width: 30px;
        }
      }

      .reset-date-range {
        display: flex;
        align-items: center;
        padding: 0;
        border: none;
        margin-right: 5px;
        background: none;
        cursor: pointer;
        pointer-events: none;
        visibility: hidden;

        &.visibility {
          pointer-events: auto;
          visibility: visible;
        }
      }
    }

    .search-details {
      padding: 0 20px;
      margin: 0;
      color: #000;
      font-size: 20px;
      @container (max-width: "768px") {
        padding: 0px;
      }

      .number {
        font-size: 30px;
      }

      .label {
        font-size: 14px;
        font-weight: 400;
      }
    }

    .search-filters-sort {
      display: flex;
      align-items: center;
      @container (max-width: "768px") {
        flex-direction: column;
        align-items: flex-start;
      }

      .sort-on-wrapper {
        display: flex;
        align-items: center;

        @container (max-width: "768px") {
          width: 100%;
        }

        .search-sort-wrapper {
          display: flex;
          flex-grow: 1;
          align-items: center;
          margin: 7px 0 0 0;

          & > * {
            height: 50px;
            border-width: 1px 1px 1px 0;
            border-style: solid;
            border-color: #000;
            border-radius: 0;
            margin: 0;
          }

          & > .search-sort-on {
            display: flex;
            align-items: center;
            border-left-width: 1px;
            font-size: 14px;

            @container (max-width: "768px") {
              flex-grow: 1;
            }

            .sort-label {
              display: none;
            }

            .sorted-label {
              padding: 2px 8px;
            }

            #select-search-sort-on {
              flex-grow: 1;

              .react-select__control {
                border-color: #000;
              }

              .icon {
                fill: black !important;
              }

              @container (max-width: "768px") {
                .react-select__control {
                  width: 100%;
                }
              }
            }

            /* important is necessary to override the element.styles for icon */
            svg {
              width: 36px !important;
              height: 36px !important;
              margin-right: 7px;
            }

            div {
              border: 0;
            }

            .react-select__menu {
              border: solid 1px #000;
              margin-top: 3px;
            }

            .react-select__option:not(.react-select__option--is-selected) {
              svg {
                visibility: hidden;
              }
            }

            .react-select__option--is-selected {
              svg {
                fill: #000;
              }
            }
          }
        }

        button {
          width: 50px;
          background: transparent;
          text-align: center;

          &.active {
            background: black !important;

            .icon {
              fill: white !important;
            }
          }

          svg {
            height: 30px !important;
          }
        }
      }
    }
  }

  .search-wrapper {
    display: flex;
    flex-grow: 1;
    .search-input {
      position: relative;
      flex-grow: 1;
      .react-aria-TextField {
        width: 100%;
      }
      input {
        height: 64px;
        padding-right: 48px;
        padding-left: 10px;
        border: none;
        border-radius: 0px;
        background: #ecebeb;

        &:focus {
          outline-color: #000;
        }

        &::placeholder {
          font-weight: 300;
        }
      }
    }

    .search-input-actions {
      position: absolute;
      top: 0;
      right: 0;

      button {
        display: flex;
        height: 64px;
        align-items: center;
        border: none;
        background: transparent;
        .icon {
          transform: rotate(90deg);
        }
      }
    }
  }

  .facets {
    .icon {
      fill: #000 !important; /* Because it is not using currentColor */
    }

    .react-select__control {
      border-color: #000;

      .react-select__placeholder {
        color: #000;
      }
    }

    .react-select__clear-indicator {
      color: #000;
    }
  }

  .template-container {
    position: relative;
    margin-top: 60px;
  }

  /* Pagination */
  .pagination-wrapper {
    display: table;
    margin: auto;
    border-collapse: collapse;
    @include body-text();

    .ui.pagination.menu {
      display: table-row;
      margin-bottom: 30px;

      .item {
        display: table-cell;
        min-width: 32px;
        padding: 6.5px 10px;
        border: solid 1px #000;
        border-radius: 0;
        border-collapse: collapse;
        color: #000;

        &:first-child,
        &:last-child {
          padding: 6.5px 15px 6.5px 15px;
        }

        &.active {
          background-color: #000;
          color: #fff;
        }
      }

      &.mobile-pagination {
        display: none;
      }

      @container (max-width: "768px") {
        &.mobile-pagination {
          display: table-row;
        }

        &.desktop-pagination {
          display: none;
        }
      }
    }

    .total {
      display: table-caption;
      margin-top: 30px;
      caption-side: bottom;
      text-align: center;
    }
  }

  .event-calendar {
    .card-listing {
      margin-bottom: 47px;
      &:last-of-type {
        .card-inner {
          .card-summary {
            border-bottom: none;
          }
        }
      }

      .card-inner {
        align-items: flex-start;
        .image-wrapper {
          flex-basis: 140px;
          .date-inset {
            width: 140px;
            height: 140px;
            &.has-end-date {
              .day {
                font-size: 36px;
                line-height: 38px;
              }

              .month {
                font-size: 10px;
                font-weight: 400;
                line-height: 18px;
              }
            }
            .separator {
              width: 71%;
              height: 1px;
              margin-top: 5px;
              margin-bottom: 5px;
              background: #000;
            }
          }
        }

        .card-summary {
          align-self: stretch;
          padding-bottom: 38px;
          border-bottom: 1px solid #000;

          .headline {
            display: none;
            &.calendar {
              display: block;
            }
          }

          .event-title {
            &:before {
              margin-right: 5px;
              margin-left: 5px;
              content: '|';
            }
          }
        }
      }
    }
  }
}

/* Because we override the display of all the header.
This is css code of popup of calendar */
.react-aria-Popover {
  border-color: #000;
  border-radius: unset;
}
.react-aria-RangeCalendar {
  header {
    display: flex;
  }

  /*ask victor about this. Font family causing unwanted problems in rendering of icon.*/
  .react-aria-Button {
    border-radius: unset;
    font-family: unset;
  }
  h2 {
    margin: 0;
    font-size: 1.375rem;
    text-align: center;
  }
}
